:root {
    --neongreen: #39FF14;
    --dark: black;
    --light: white;
}

/*Sets global styling for page*/
/*Have set font-family globally so everything looks like 'code'*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Consolas", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}

/*Sets background colour of page */
body {
    background-color: var(--dark);
}

/*Removes bullets from nav list*/
nav ul{
    color: var(--light);
    position: fixed;
    top: 0;
    width: 100vw;
    justify-content: space-evenly;
}

nav ul li{
    list-style-type: none;
    display: flex;
    padding: 10px;
    text-decoration: none;
}

#highscores:hover {
    color: var(--neongreen);
    cursor: pointer;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.heading {
    color: var(--light);
    margin: 20px;
}

.opener-text {
    color: var(--light);
}

/*Styles the start button*/
button {
  background-color: var(--neongreen);
  border: 3px;
  border-style: solid;
  color: var(--dark);
  padding: 15px 32px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
}

button:hover {
    cursor: pointer;
    background-color: var(--black);
    border-color: var(--neongreen);
    color: var(--neongreen);
}