:root {
    --neongreen: #39FF14;
    --dark: black;
    --light: white;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Sets background colour of page */
body {
    background-color: var(--dark);
}

/*Removes bullets from nav list*/
nav ul{
    list-style-type: none;
    color: var(--light);
}

.heading {
    color: var(--light);
}

.opener-text {
    color: var(--light);
}

button {
  background-color: var(--neongreen);
  border: none;
  color: var(--dark);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bolder;
}